.AnswerSection {
    display: grid;
    grid-auto-flow: row;
    row-gap: 10px;
}

.AnswerSection .answerBT{
    outline: none;
    background-color: #fff;
    border-radius: 5px;
    border: 2px solid #a648e5;
    font-weight: bold;
    font-size: 1rem;
    padding: 10px 16px;
    width: 100%;
    cursor: pointer;
    font-family: 'kanit', sans-serif;
}

.questionSection {
    display: grid;
    grid-auto-flow: column;
    grid-column-gap: 8px;
    column-gap: 8px;
    align-items: center;
    width: 100%;
}

.questionSection .questionCount span {
    font-weight: bold;
    font-size: 2rem;
}

.questionSection .questionText {
    font-weight: bold;
    font-size: 2rem;
    font-family: 'kanit', sans-serif;
}

.questionSection .nextQuestionBT {
    
}